npmInstallDir*
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
README.md
LICENSE
.vscode
.editorconfig
.eslintrc.json
.nycrc
test-results
test
config
.nvmrc
.nyc_output
